#footer {
    background-color: #464646;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    min-width: 1686px;
    max-width: 1920px;
    height: 67.23px;
}

@media only screen and (max-width: 900px) { /* Screen which has a maximum width of 900px */

    #footer {
        min-width: 0;
        height: 48.72px;
    } 
}

#footer-text {
    position: absolute;
    left: calc(max(880/1756 * (100vw - 164px), 880/1756 * (1686px - 164px)));
    width: 164px;
    bottom: 24px;
    text-align: center;
    color: #CCCCCC;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
}

@media only screen and (max-width: 900px) { /* Screen which has a maximum width of 900px */

    #footer-text {
        bottom: 15px;
        left: calc(126/269 * (100vw - 143px));
        width: 143px;
        font-size: 14px;
    } 
}